<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{object.slug}} Course</title>
</head>
<body>


    <div style="text-align:center; text-transform:capitalize;">
        <h1>{{object.slug}} Course</h1>

        <p> <b>Slug:-</b> {{object.slug}} </p> 
        <p> <b>Title:-</b> {{object.title}} </p> 
        <p> <b>Description:-</b> {{object.description}} </p>
        <b> {{object.allowed_membership}} </b>
        <br>

    </div>    


</body>
</html>