<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a lesson For</title>
</head>
<body>

    {% if lesson %}
        {% for lesson in lesson %}
           Lesson Name: {{lesson.title}}
        {% endfor %}

    {% else %}

        <p>Only allowed for</p>

        {% for allow in allowed %}
           {{forloop.counter}}) {{allow.membership_type}} <br>
        {% endfor %}

        <br>
        <a href="">Upgrade</a>
    
    {% endif %}


</body>
</html>